<mat-card *ngIf="simple; else inBar" class="example-card card-large">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ itemText.title }}</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
    <img mat-card-image src="{{ itemImage.url }}" alt="{{ itemImage.alt }}">
  <mat-card-content>
    {{ itemText.description }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)='returnItem(item)'>+{{index}}</button>
  </mat-card-actions>
</mat-card>

<ng-template #inBar>
  <mat-card class="example-card card-small">
    <!-- <mat-card-header>
      <mat-card-title>{{ itemText.title }}</mat-card-title>
    </mat-card-header> -->
    <img mat-card-image src="{{ itemImage.url }}" alt="{{ itemImage.alt }}">
    <!-- <mat-card-content>
      {{ itemText.description }}
    </mat-card-content> -->
    <mat-card-actions>
      <button  mat-button (click)='returnItem(item)'>-{{index}}{{item.text.title}}</button>
    </mat-card-actions>
  </mat-card>

</ng-template>
