<h2>raw</h2>
<div class="results">
  <app-material *ngFor="let r of materials.raw" [material]="r"></app-material>
  <!-- <pre>
    {{ materials | json }}
  </pre> -->
</div>

<!-- <ng-container *ngIf="basic">
<h2>basic</h2>
<div class="results">
  <app-material *ngFor="let rm of items.basic" [material]="rm"></app-material>
</div>
</ng-container>

<ng-container *ngIf="advanced">
<h2>advanced</h2>
<div class="results">
  <app-material *ngFor="let rm of items.advanced" [material]="rm"></app-material>
</div>
</ng-container> -->
